.carousel-container {
    background-color: #0c1e43;
    justify-content: center;
    margin-top: 130px;
}

.carousel-title-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}


.carousel-title {
    color: #fff;
    font-size: 44px;
    font-weight: 500;
    letter-spacing: .005em;
    line-height: 40px;
    font-family: "Rubik", sans-serif;
}

.react-multi-carousel-track {
    gap: 120px;
}

.review-item {
    max-width: 600px;
    min-width: 400px;
}

.review-description {
    margin-top: 30px;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: .005em;
    line-height: 34px;
    color: white;
    font-family: "Rubik", sans-serif;

}

.review-user {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: .005em;
    line-height: 34px;
    color: white;
    font-family: "Rubik", sans-serif;
}

.review-date {
    margin-top: -25px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .005em;
    line-height: 34px;
    color: white;
    font-family: "Rubik", sans-serif;
}


.test {
    d: path("M 0 0 C 0 0 720 102 2700 0");
    stroke: #0c1e43;
    fill: #0c1e43;
    color: #0c1e43;
}

.testt {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    direction: ltr;
    unicode-bidi: isolate;
}

.test-container {
    margin-top: 70px;
    background: #fff;
    color: #0c1e43;
}